// @import '~@fluentui/react/dist/sass/References.scss';

// .carouselbanner {
//   overflow: hidden;
//   padding: 1em;
//   color: "[theme:bodyText, default: #323130]";
//   color: var(--bodyText);
//   &.teams {
//     font-family: $ms-font-family-fallbacks;
//   }
// }

// .welcome {
//   text-align: center;
// }

// .welcomeImage {
//   width: 100%;
//   max-width: 420px;
// }

// .links {
//   a {
//     text-decoration: none;
//     color: "[theme:link, default:#03787c]";
//     color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

//     &:hover {
//       text-decoration: underline;
//       color: "[theme:linkHovered, default: #014446]";
//       color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
//     }
//   }
// }

// .banner{
//   width: 99% !important;
//   border: 2px solid black;
//   // height: 274px;
//   // top: 143px;
//   // left: 49px;
//   // border-radius: 4px;
//   background: linear-gradient(91.61deg, rgba(51, 92, 204, 0.04) 0%, rgba(51, 92, 204, 0.13) 101.87%);

// }
// .content{
//   width: 95%;
//   margin-left: 16px;
//   border: 2px solid red;
// }
// .banner {
//   width: 99% !important;
//   border: 2px solid black;
//   background: linear-gradient(91.61deg, rgba(51, 92, 204, 0.04) 0%, rgba(51, 92, 204, 0.13) 101.87%);
//   animation: gradientAnimation 5s linear infinite; /* Adjust the duration and other properties as needed */
//   background-size: 200% 100%;
// }

// @keyframes gradientAnimation {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }
// .textStyle{
//   width: 100%;
//     display: flex !important;
//     justify-content: space-around;
//     padding-top: 50px;
//     padding-bottom: 50px;
//     flex-wrap: wrap;
// }

.content {
  width: 95%;
  margin-left: 16px;
  // border: 2px solid red;
}

.banner {
  width: 99% !important;
  border: 2px solid black;
  background: linear-gradient(91.61deg, rgba(51, 92, 204, 0.04) 0%, rgba(51, 92, 204, 0.13) 101.87%);
  animation: gradientAnimation 5s linear infinite;
  background-size: 200% 100%;
}
.container{
  width: 100%;
  height: 340px;
  // background-color: red;
  // padding: 1rem;
  position: relative;
  overflow: hidden;
  background:linear-gradient(91.61deg, rgba(51, 92, 204, 0.04) 0%, rgba(51, 92, 204, 0.13) 101.87%);
}

// .rectangleBox {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100px;
//   height: 50px;
//   background-color: white;
//   transform: rotate(-45deg);
//   transform-origin: bottom left;
//   animation: rotateRectangle 5s linear infinite;
// }

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// @keyframes rotateAnimation {
//   0% {
//     transform: rotate(-45deg);
//   }
//   100% {
//     transform: rotate(135deg);
//   }
// }

.textStyle {
  width: 100%;
  display: flex !important;
  justify-content: space-around;
  flex-wrap: wrap;
}


.child {
  width: 531px;
  height: 352px;
  background: linear-gradient(243.55deg, #335CCC -1.19%, rgba(217, 217, 217, 0) 85.83%);  rotate: 50deg;
  opacity: 15%;
  top: 187px;
  left:-191px;
  rotate:13deg;
  border-radius: 33px;
  position: absolute;
  bottom: 0;
  animation: rotateChild 20s linear infinite; /* Add rotation animation */

}

.child2 {
  width: 531px;
  height:352px;
  // background-color: yellow;
  background: linear-gradient(243.55deg, #335CCC -1.19%, rgba(217, 217, 217, 0) 85.83%);
  opacity: 15%;
  rotate: -85deg;
  left:410px;
  top:-320px;
  border-radius: 33px;
  position: absolute;
  animation: rotateChild2 20s linear infinite; /* Add rotation animation */

}

@keyframes rotateChild {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateChild2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card{
width: 123px;
height: 96px;
top: 31px;
left: 598px;
border-radius: 6px;
background: #FFFFFF7D;
box-shadow: 3px 0px 8.399999618530273px 0px #80808040;
flex-basis: 45%;
margin-bottom: 10px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap:4%;
  // justify-content: space-between;
}

// .slick-next, .slick-prev {
//   border: none;
//   cursor: pointer;
//   display: block;
//   font-size: 0;
//   height: 79px;
//   line-height: 0;
//   padding: 0;
//   position: absolute;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
//   width: 20px;
//   z-index: 9;
// }
// .pagination{
//   background-color: #fff;
//   border-bottom: 5px solid #fff;
//   border: 1px solid #fff;
//   border-radius: 10px;
//   color: #fff;
//   content: 2;
//   font-size: 1px;
//   width: 30px;
//   margin-left: 2px;
// }